.aboutus img {
 height: 200px;
 width: 300px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: auto;
}

.aboutus h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Arial,Helvetica,sans-serif";
}

/* Above is all the About Us */

/* Below is all the Index */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

.dropdown li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown li a:hover {
    background-color: dimgrey;
    
}

#donatelogo {
    height: 130px;
    width: 130px;
    position: absolute;
    padding-left: 800px;
    padding-top: 25px;
    
    
}

#Dlogo {
    height: 200px;
    width: 200px;
    padding-left: 550px;
        
}

.donatetext {
    color: black;
    font-family:serif;
    text-align: center;
}

.donateguts {
     background-image: url(assets/images/Bimage.jpg);
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center; 
}
}

.donatetext h3{
    word-spacing: 6px;
    text-align: justify;
    
}

#instagram {
    height: 45px;
    width: 70px;
    position:static;
    padding-top: 250px;
    padding-left: 100px;
}

#twitter {
    height: 48px;
    width: 50px;
    
}

#facebook {
    height: 50px;
    width: 62px;
    position: static;
    padding-left: 10px;
}

#bodysplash img {
    position: absolute;
    margin-right: auto;
    padding-top: 190px;
    padding-left: 850px;
    max-height: 500px;
    max-width: 500px;
    height: 200px;
    width: 200px;
}

.dropdown li a {
    position: relative;
    display: inline-block;


}
.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: gainsboro;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}


img {
 max-width: 1000px;
 max-height: 1000px;
}

header img {
    max-height: 320px;
    max-width: 320px;
}
.main-img {
 height: 500px;
 width: 1000px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

/* Above is all the Index */



/* Below is all the Splash */

#bodysplash {
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 1px;
    animation: blinkingBackground 10s infinite;
    animation: fadebackground: link;
}

@keyframes blinkingBackground {
    0% {
        background-color: white;
    }

    25% {
        background-color: darkseagreen;
    }

    50% {
        background-color: mediumseagreen;
    }

    75% {
        background-color: darkgreen;
    }

    100% {
        background-color: black;
    }

}

#bodysplash h1 {
    margin: 20rem auto;
    padding: 0;
    


}



#bodysplash h1 a {
    text-decoration: none;
    margin: 20rem auto;
    padding: 0;
    font-family: serif;
    color: white;
    font-weight: bold;
    font-size: 5rem;
    animation: blinkingText 8s infinite;


}

@keyframes blinkingText {
    0% {
        color: black;
    }

    25% {
        color: darkgreen;
    }

    50% {
        color: mediumseagreen;
    }

    75% {
        color: darkseagreen;
    }

    100% {
        color: white;
    }
}

/* above is all the Splash */

/* Below is all the history page */

.historypage {
    margin: 0;
    padding: 0;
    background: #262626;
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.container .box {
    position: relative;
    width: 300px;
    height: 300px;
    background: black;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    
}

.container .box .imgBox {
    position: relative;
    overflow: hidden;
}

.container .box .imgBox img {
    max-width: 100%;
    height: 290px;
    transition: transform 2s;
    
}

.container .box:hover .imgBox img {
    transform: scale(1.2)
} 

.container .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}

.container .box:hover .details {
    transform: scaleY(1);   
    
}

.headings {
    text-align: center;
    font-size: 30px;
    

}
.container .box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: white;
}

.container .box .details .content h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.container .box .details .content p {
    margin: 10px 0 0;
    padding: 0;
    
}


/* Above is all the history page */

/* Below is all the Contact page */



.contact {
    background-image: url(assets/images/contactbackground.jpg);
    background-position: center;
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;  
     
}

.form {
    width: 90%;
    max-width: 600px;   
}

.input-group {
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 3px solid black;
    color: #fff;
    background: transparent;
    font-size: 15px,
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text;
    transition: 0.2s;
}

button {
    padding; 10px 0;
    color: white;
    outline: none;
    background: transparent;
    border: 3px solid black;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group{
    flex-basis: 48%;
}

/* Above is all the Contact page */

/* Below is all the 2020 page */

 .body2020 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}

.body2020 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
.body2020 .container2{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
}


.body2020 .container2 .card{
    width: 320px;
    height: 320px;
    margin: 15px;
    overflow: hidden;
}





















